.h1 {
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Questrial', sans-serif;
}

main {
    flex: 1;
}

span.tag {
    cursor: pointer;
    user-select: none;
}

.week-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.week-item {
  flex: 0 1 150px;
  margin: 1em;
  text-align: center;
}

.week-item img {
  width: 64px;
  height: 64px;
}

.week-item .title, .week-item .description {
  font-size: 0.85em;
}
