---
layout: default
---

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
            <div class="column">
                {% if page.icon %}
                <figure class="image">
                    <img src="{{ '/assets/undraw/' | append: page.icon | relative_url}}">
                </figure>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {% for module_name in page.modules %}
            {% assign module = site.modules | where: "slug", module_name | first %}
            {% if module %}
            <div class="box">
                <h2 class="subtitle"><a href="{{ module.url | relative_url }}">{{ module.title }}</a></h2>
                <p>{{ module.content | strip_html | truncatewords: 30 }}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
